@media (min-width: 1200px){
    .skill-text{
    max-width: 560px;
    margin-left: auto;
    }   
    .progress-area {
    max-width: 560px;
    }
}
    
@media(min-width:992px) and (max-width:1199px) {
 .skill-text{
    max-width: 470px;
    margin-left: auto;
    }   
    .progress-area {
    max-width: 470px;
    }
}

@media(min-width:768px) and (max-width:991px) {
    h3 {
        font-size: 22px;
    }

    h2 {
        font-size: 28px;
    }

    .sec-pad {
        padding: 40px 0 50px;
    }

    /* preloder */
    .preloader .preloader-box {
        width: 250px;
        height: 250px;
    }

    /* menu */
    .logo {
        top: 0;
        left: 70px;
        border: none;
        transform: translateX(-50%);
    }

    /* banner */
    .banner-items {
        height: 550px;
    }

    /* about */
    .about-left i {
        margin-left: 15px;
    }

    .about-right i {
        margin-Right: 15px;
    }

    .about-content {
        text-align: center;
    }

    .work-btn li {
        font-size: 13px;
        margin: 0 5px;
        width: 100px;
    }

    /* price */
    .price {
        margin: 0;
    }

    .prc {
        margin-top: 30px;
    }

    /* contact */
    .map {
        height: 400px;
    }

    .contact-box {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        margin-top: 30px;
    }

    /* team */
    .team-member-text p {
        padding: 10px 0 30px;
    }

    /* skill */
    .skill-text{
    max-width: 350px;
    margin-left: auto;
    }   
    .progress-area {
    max-width: 350px;
    }
    
    .skill-text h2 {
        margin: 15PX 0;
        font-size: 25px;
    }


    .skill-left {
        min-height: 0;
    }

    .skill-text {
        max-width: 340px;
        margin-left: auto;
    }

    /* service */
    .services .ser-b:hover .services_item i {
        transform: translateY(-42px);
        -webkit-transform: translateY(-42px);
    }

    .services_item p {
        padding: 20px 12px 0;
    }

}

@media(min-width:576px) and (max-width:767px) {

    .sec-pad {
        padding: 30px 0 40px;
    }

    /* preloder */
    .preloader .preloader-box {
        width: 200px;
        height: 200px;
    }

    /* menu */
    .logo {
        top: 0;
        left: 70px;
        border: none;
        transform: translateX(-50%);
    }

    /* banner */
    .banner-content h2 {
        font-size: 42px;
        padding-bottom: 15px;
    }

    .banner-items {
        height: 400px;
    }

    .banner-content a {
        margin-top: 20px;
    }

    .banner-content p {
        font-size: 16px;
        line-height: 22px;
    }

    .banner_dots {
        bottom: -40px;
    }

    /* about */
    .about-left i,
    .about-right i {
        margin-right: 10px;
        margin-left: 0;
    }

    .about-content {
        margin-top: 20px;
    }


    /* work */
    .work-btn li {
        margin-top: 10px;
    }

    .work-btn {
        margin: 20px 0px 30px;
    }

    /* counter */
    .counter span {
        font-size: 25px;
        padding: 5px 5px;
    }

    .counter i {
        font-size: 25px;
        margin-bottom: 5px;
    }

    /* services */
    .services_item p {
        font-size: 18px;
    }

    /* skill */
    .skill-text{
    max-width: 540px;
    margin: auto;
        padding-bottom: 20px;
    }   
    .progress-area {
    max-width: 540px;
    margin: auto;
    }
    .skill-left{
        height: auto;
        transform: translateY(0);
    -webkit-transform: translateY(0);
        margin-bottom: 30px;
    }
    
    .skill-text h2 {
        margin: 15PX 0;
    }

    /* team */
    .team-member-text p {
        padding: 10px 0 30px;
    }

    /* feedback */
    #feedback-part h3 {
        margin-bottom: 15px;
    }

    /* price */
    .price {
        margin-top: 20px;
    }

    .prc {
        max-width: 70%;
        margin: 20px auto 0;
    }

    /* blog */
    .blog-items h2 {
        font-size: 22px;
    }

    /* contact */
    .contact-box {
        margin: 50px auto 0;
        max-width: 90%;

    }

    /* footer */
    .f-left p {
        max-width: 70%;
        margin: auto;
    }

    .f-left,
    .f-mid,
    .f-right {
        margin: 15px 0;
    }

}

@media(max-width:575px) {

    h3 {
        font-size: 20px;
    }

    #heading h2 {
        font-size: 20px;
        padding-bottom: 20px;
        margin-bottom: 25px;
    }

    #heading h2:after {
        height: 15px;
        width: 15px;
        bottom: -6px;
    }

    .sec-pad {
        padding: 30px 0;
    }

    /* preloder */
    .preloader .preloader-box {
        width: 150px;
        height: 150px;
    }

    /* menu */
    .logo {
        top: 0;
        left: 70px;
        border: none;
        transform: translateX(-50%);
    }

    .btn-mobile {
        top: 4px;
    }

    .logo-mobile img {
        width: 70%;
    }

    .customNav {
        min-height: 54px;
    }

    /* banner */
    .banner-content h2 {
        font-size: 22px;
        padding-bottom: 10px;
    }

    .banner-items {
        height: 300px;
    }

    .banner-content {
        margin-top: 70px;
    }

    .banner-content a {
        margin-top: 15px;
    }

    .banner-content p {
        font-size: 14px;
        line-height: 18px;
    }

    .banner_dots {
        bottom: -40px;
    }

    /*counter */
    .counter {
        margin-top: 10px;
    }

    .counter span {
        font-size: 21px;
        padding: 5px 5px;
    }

    .counter i {
        font-size: 20px;
        margin-bottom: 5px;
    }

    .counter h4 {
        font-size: 10px;
        letter-spacing: 0.5px;
    }

    /* about */
    .about-left i,
    .about-right i {
        margin-right: 10px;
        margin-left: 0;
    }

    .about-content {
        margin-top: 20px;
    }

    .about-content i {
        font-size: 18px;
        height: 30px;
        width: 30px;
        line-height: 31px;
    }

    /* work */
    .work-btn li {
        margin-top: 10px;
    }

    .work-btn {
        margin: 20px 0px 30px;
    }

    /* service */
    .services_item p {
        font-size: 13px;
        padding: 19px 8px 0 8px;
    }

    /* skill */
    .skill-text{
    max-width: 100%;
    margin: auto;
    padding: 20px;
    }   
    .progress-area {
    max-width: 100%;
    margin: auto;
    }
    .skill-left{
        height: auto;
        transform: translateY(0);
    -webkit-transform: translateY(0);
        margin-bottom: 30px;
    }
    .skill-text h2 {
        font-size: 24px;
        margin: 15PX 0;
    }

    .skill-left {
        min-height: 0;
    }

    /* team */
    .team-member-text p {
        padding: 10px 0 30px;
    }

    /* feedback */
    #feedback-part h3 {
        margin-bottom: 15px;
    }

    .feedback-content p {
        max-width: 90%;
    }

    /* price */
    .price {
        margin-top: 20px;
    }

    .prc {
        max-width: 80%;
        margin: 20px auto 0;
    }

    /* blog */
    .blog-items h2 {
        font-size: 22px;
    }

    /* contact */
    .contact-box {
        margin: 50px auto 0;

    }

    /* footer */
    .f-left p {
        max-width: 70%;
        margin: auto;
    }

    .f-left,
    .f-mid,
    .f-right {
        margin: 15px 0;
    }

    /* backtop */
    .backtop {
        right: 4%;
        bottom: 4%;
        height: 25px;
        width: 25px;
    }

    .backtop i {
        font-size: 15px;
    }

}
